<div class="container-sm ">
  <%= render "users/shared/flash" %>
  
  <div class="main_title">
    <h2>みんなの投稿</h2>
  </div>

  <%= render "users/shared/post_list" %>
  
  <div class="scroll">
    <%= image_tag "up_arrow.png", size: "50x50", id: "page_icon"  %>
  </div>
</div>