<% if resource.errors.any? %>
  <div id="error_explanation">
    <% resource.errors.full_messages.each do |message| %>
      <div style="margin-bottom :12px;"><%= message %></div>
    <% end %>
  </div>
<% end %>
