.admin_field{
  text-align: left;
  max-width: 400px;
}

.articles_list{
  padding: 20px;
}

.articles_image{
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.articles_wrapper{
  border: 1px solid #d6dce0;
  border-radius: .25rem;
}

.articles_title{
  border: 1px solid #d6dce0;
  border-radius: .25rem;
  text-align: center;
  margin: 18px 20px;
  padding: 20px 0;
}
.articles_items{
  border: 1px solid #d6dce0;
  border-radius: .25rem;
  margin: 18px 20px;
}

.articles_more{
  border: 1px solid #d6dce0;
  border-radius: .25rem;
  margin: 18px 20px;
  text-align: center;
  display: block;
}

