@import "dimensions";
@import "colors";

.admin_field{
  text-align: left;
  max-width: 400px;
}

.articles_list{
  padding: 20px;
  position: relative;
}

.articles_image{
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  margin-top: 30px;
  
}

.article_image_main{
  @media (max-width: 576px) {
    width: 80%;
  
  }
  
}

.articles_wrapper{
  border: 1px solid $clay;
  border-radius: .25rem;
}

.articles_title{
  border: 1px solid $clay;
  border-radius: .25rem;
  text-align: center;
  margin: 18px 20px;
  padding: 20px 0;
}
.articles_items{
  border: 1px solid $clay;
  border-radius: .25rem;
  margin: 18px 20px;
}

.articles_more{
  border: 1px solid $clay;
  border-radius: .25rem;
  margin: 18px 20px;
  text-align: center;
  display: block;
}

.articles_date{
  position: absolute;
  bottom: 6px;
  right: 10px;
}

.article_content{
  margin: 0 auto;
  margin-top: 68px;
  max-width: 900px;
}

.article_primary{
  margin-bottom: 14px;
  font-size: $huge;
}