@import "dimensions";
@import "colors";

// global
html, body {
	font-family: 'Raleway', sans-serif ;
  height: 100%;
}

a {
	text-decoration: none ;
	color: inherit ;
  &:hover{
    text-decoration: none ;
	  color: inherit ;
  }
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
  margin: 0 ;
}

p{
  margin: 0;
}

textarea {
  resize: none;
}

input[type="file"]{
  display: none;
}

#wrapper{
  position: relative;
  min-height: 100%;
  padding-bottom: 48px;
}

.wrapper{
  width: 100%;
  height: 100vh;
}

.icon{
  border-radius: 50%;
}

.text_content{
  width: 80%;
  border: 1px solid $clay;
  border-radius: .35em;
  padding: .5em 1em;
  line-height: 1.75;
}

#page_icon{
  position: fixed;
  right: 50px;
  bottom: 40px;
}

#error_explanation{
  max-width: 400px;
  margin: 0 auto 18px;
  // background: $green;
  color:$red;
  padding: 18px ;
  padding-bottom: 6px;
  border-radius: 5px;
  border: 1px solid $red ;
}

.check-boxes{
  margin-bottom: 20px;
}

.container-sm{
  margin-bottom: 48px;
}

// header
.bd-navbar {
  padding:  0.75rem 1rem;
}

.herder_flash{
  padding: 8px;
  margin-left: 20px;
}

.alert{
  color: $red;
}

.notice{
  color: $green;
}


// footer
footer{
  text-align: center;
  background-color: $green;
  color: #fff;
  width: 100%;
  position: absolute;
  bottom: 0;
  p{
    margin-bottom: 0;
  }
}


// button
.btn-check:focus + .btn, .btn:focus{
  box-shadow: none ;
}

.btn{
  color: #6c757d;
  border-color: #dee2e6;
  &:hover {
    background-color: $green;
    color: #fff;
  }
}

.btn-bd-light{
  color: #6c757d;
  border-color: #dee2e6;
}


.main_title{
  border-bottom: 3px solid #333;
  padding-bottom: 8px;
  margin-bottom: 26px;
  margin-top: 20px;
  max-width: 880px;
  min-width: 440px;
}

.main-wrapper{
  display: flex;
  justify-content: space-between;
}

.main_content{
  flex: 1;
}

.sidebar{
  width: 400px;
}

// kaminari
.pagination{
  justify-content: center;
  margin-top: 48px;
  margin-bottom: 30px;

  li {
    /*ページネーション自体のデザイン*/
    .page-link{
      border: none !important;     /*枠線をなくす*/
      color: #696969 !important;   /*文字の色を変える*/
      width: 36px ;

      &:focus{
        box-shadow: none;
      }

      &:hover{
        border-radius: 50%;

      }

    }

  }

  /* 表示しているページ番号のデザイン */
  .active{
    a{
      background-color: $green !important;
      border-radius: 50% !important;
      color: #fff !important;

    }
  }

}

.back_button{
  margin-bottom: 36px;
  margin-top: 20px;
  padding: 8px 35px;
}


.date{
  margin-bottom: 18px;
}