<li class="page-item">
  <%= 
  link_to_unless(current_page.first?, raw(t 'views.pagination.first'), url, class: 'page-link') do |name|
    content_tag(:span, name, class: "disabled page-link") 
  end
  %>
</li>
