<div class="container-sm">
  <div class="main_title">
    <h2>「<%= @title%>」の検索結果</h2>
  </div>

  <% if @books %>
    <% @books.each do |book| %>

      <div class="d-flex book_item m-1">
        <div>
          <%= link_to image_tag(book.image_url),book.url, class: "book_image" %>
        </div>
        <div class="m-3" style="margin-bottom: 0px !important;">
          <div><%= book.title %></div>
          <div class= "font-md"><%= book.author %></div>
        </div>
      </div>

    <% end %>
  <% end %>

</div>