<div class="wrapper d-flex align-items-center">

  <div class="container-sm text-center align-items-center">
    <div class="devise_title">
      <h2>本を探す</h2>
    </div>

    <%= form_with url: :new_users_book, method: :get do |f|%>
      <div class="field">
        <%= f.text_field :title %>
      </div>
      <div class="actions">
        <%= f.submit "検索", class: "btn btn-outline-success" %>
      </div>
    <% end %>

  </div>
</div>