.book_item{
  border: 1px solid #e8e8e8;
  background-color: #f8f8f8;
}

.book_container{
  margin-bottom: 48px;
  margin-top: 40px;
}

.book_title{
  margin-left: 48px;
}

.book_author{
  margin-top: 28px;
}